@import "util";
header {
    width: 100%;
    background-color: $primary-blue;
    box-shadow: inset 0 5px 2px rgba($primary-black, 0.5);
    color: #FFF;
    .wrapper {
        @include grid-row();
        margin: 0;
    }
    .file,
    .status,
    .home,
    .tabs {
        height: $basesize*2;
        margin: $baseline/2 0;
        line-height: $basesize*2;
        @include grid-col(6);
        span {
            vertical-align: middle;
        }
        label {
            width: 200px;
        }
        p {
            padding-top: $basesize*0.5;
        }
    }
}

.status,
.tabs {
    text-align: right;
}

header.submenu {
    background-color: lighten($primary-blue, 50%);
    box-shadow: inset 0 5px 5px rgba($primary-blue, 0.3);
    margin-bottom: $baseline;
    p {
        color: $primary-blue;
    }
}

nav ul {
    display: block;
    margin-bottom: 0;
    li {
        @include grid-col(1);
        display: inline-block;
        line-height: $baseline*3;
        margin-bottom: 0;
        color: $primary-black;
        text-align: center;
    }
    a {
        display: inline-block;
        font-family: $stack-sans;
        color: #FFF;
        margin-bottom: 0;
        text-align: center;
        font-size: $basesize;
        line-height: $baseline*3;
        &:hover {
            text-shadow: 1px 1px 4px #333;
        }
    }
}

a.btn,
.btn {
    color: #FFF;
    text-decoration: none;
    border: none;
    vertical-align: middle;
    text-align: center;
    font-size: $basesize;
    background-color: lighten($primary-blue, 15%);
    padding: $basesize*0.5 $basesize;
    border-radius: $basesize;
    -webkit-transition: background-color 1s;
    /* Safari */
    transition: background-color 1s;
    width: $basesize*6;
    &:hover {
        background-color: lighten($primary-blue, 30%);
        text-decoration: none;
    }
}

a.btn-tab {
    color: $primary-blue;
    text-decoration: none;
    border: none;
    vertical-align: middle;
    text-align: center;
    font-size: $basesize;
    background-color: white;
    padding: $basesize*0.5 $basesize $basesize*1.5 $basesize;
    -webkit-transition: background-color 1s;
    /* Safari */
    transition: box-shadow 0.1s;
    &:hover {
        box-shadow: 2px -2px 2px rgba($primary-blue, 0.2);
    }
}

.btn-group {
    .btn-p {
        background-color: $button-green;
        border-radius: $basesize/2;
        -webkit-transition: background-color 0.1s;
        /* Safari */
        transition: background-color 0.1s;
        height: $baseline*1.5;
        padding: $basesize*0.5;
    }
    .btn-p:hover {
        background-color: lighten($button-green, 10%);
    }
    .btn-p:active {
        background-color: darken($button-green, 10%);
    }
    :first-child {
        border-radius: $basesize 0 0 $basesize;
    }
    :last-child {
        border-radius: 0 $basesize $basesize 0;
    }
}


/*********************
Upload Button
********************/

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: $basesize;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


