@import "util";
.deck {
    @include grid-row();
    .step-list {
        @include grid-col(2);
        background-color: $bg-div;
        //border-radius: $basesize;
        height: 100%;
        ul {
            list-style: none;
            padding-left: 0;
            margin-bottom: 20px;
            li {
                display: block;
                margin-bottom: -1px;
                background-color: white;
                padding: $basesize;
                a {
                    color: $primary-blue;
                }
            }
            li:hover {
                background-color: lighten( $primary-blue, 50%);
            }
            li.active {
                background-color: lighten( $primary-blue, 35%);
                a {
                    color: white;
                }
            }
        }
    }
}

.coord {
    p {
        @include grid-col(1);
        padding-top: $basesize*0.5;
    }
}

#wizard {
    @include grid-col(10);
    min-height: 80vh;
    position: relative;
    a {
        color: $primary-pink;
    }
    /*********************
   STEP RENDERING
    ********************/
    .steps .step {
        display: none;
    }
    .steps .step.active-step {
        display: block;
    }
    .step {
        overflow: visible;
        text-align: center;
        p {
            text-align: left;
        }
    }
    .task {
        @include grid-col(8);
    }
    .info {
        @include grid-col(4);
        text-align: left;
    }
    /*********************
    PREV NEXT BTNS
    ********************/
    .prev,
    .next {
        position: absolute;
        top: 45%;
    }
    .prev {
        left: 0;
    }
    .next {
        right: 0;
    }
    /*********************
    SUBNAVIGATION
    ********************/
    .subnav {
        @include grid-col(8);
        list-style: none;
        position: absolute;
        bottom: 0;
        text-align: center;
        li {
            position: relative;
            display: inline-block;
            @include grid-col(4);
            color: white;
            line-height: $baseline;
            a.btn {
                display: block;
                border-radius: 0;
                background-color: white;
                transition: background-color 1s;
                width: 100%;
            }
        }
    }
    /*********************
    JOG CONTROLS
    ********************/
    .jog {
        @include grid-col(6);
        table {
            width: 100%;
            display: block;
            td {
                line-height: $baseline*1.75;
                .spacer {
                    width: $basesize*2;
                }
            }
        }
        a {
            color: white;
        }
        .btn {
            padding: $basesize*0.75;
            border-radius: $basesize/2;
        }
        .pull-right {
            transform: translateX($basesize*2);
        }
        .pull-left {
            transform: translateX(-1*$basesize*2);
        }
        .btn-z {
            background-color: $button-green;
            border-radius: $basesize/2;
            -webkit-transition: background-color 0.1s;
            /* Safari */
            transition: background-color 0.1s;
        }
        .btn-z:hover {
            background-color: lighten($button-green, 10%);
        }
        p {
            text-align: center;
            padding-top: $baseline;
            font-size: $basesize*1.25;
        }
        hr {
            border-color: lighten($primary-blue, 40%);
        }
        .btn-group {
            text-align: center;
            font-size: $basesize;
            line-height: $baseline*1.5;
            margin: $baseline/2 0;
            .btn-inc {
                line-height: $baseline;
                border-radius: 0;
                padding: $basesize*0.5;
                margin: -1px;
            }
            //////////////////////////////////////
            //PIPETTE BUTTONS
            //////////////////////////////////////
            .btn-pipette {
                background-color: $button-green;
                border-radius: $basesize/2;
                -webkit-transition: background-color 0.1s;
                /* Safari */
                transition: background-color 0.1s;
                height: $baseline*1.5;
                padding: $basesize*0.5;
                &:hover {
                    background-color: lighten($button-green, 10%);
                }
                &:active {
                    background-color: darken($button-green, 10%);
                }
            }
            :first-child {
                border-radius: $basesize 0 0 $basesize;
            }
            :last-child {
                border-radius: 0 $basesize $basesize 0;
            }
        }
        .jog-pipette {
            text-align: center;
            .left-pipette,
            .right-pipette {
                width: 40%;
                display: inline-block;
                line-height: $baseline*2;
            }
            h4 {
                text-align: left;
            }
        }
    }
    .jog-info {
        @include grid-col(6);
    }
}

input#uploadFile {
    border: none;
    text-align: center;
    width: 100%;
}

.active {
    display: block;
    margin: 0 auto;
    width: auto;
}

.not-active {
    display: none;
}

#loadFile {
    color: white;
}

table {
    width:100%;
    padding: none;
    border: none;   
    tr:nth-child(even) {
        background: $bg-div;
        .saved {
            background: $bg-blue;
            font-style: italic;
            font-style: bold;
        }
    }
    tr {
        height: 1.5*$baseline;
        line-height: 1.5*$baseline;
    }
    td {
        @include grid-col(2);
        text-align: center;
    }
    .delete {
        text-align: right;
    }
}

.saved {
    background: $bg-blue !important;
    font-style: italic;
    font-style: bold;
}

.continue{
    width:auto;
    float:right;
    margin-top:$baseline;
}
