{% extends "/layout.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/walkthrough.css') }}"> {% endblock %} 
{% block body %}


<div class="deck">
    <aside class="step-list">
        <ul>
            <li><a href="#" class="active">Step 1- Calibrate p200 tiprack</a></li>
            <li><a href="#">Echo steps from Michelle</a></li>
            <li><a href="#">Echo steps from Michelle</a></li>
        </ul>
    </aside>


    
</div>
{% endblock %} 



{% block scripts %} {% endblock %}