/* Typography */
/* Color Scheme */
/* Responsive Breakpoints */
/* Typography */
/* Color Scheme */
/* Responsive Breakpoints */
@font-face {
  font-family: "trons";
  src: url("../fonts/Geogtq-Rg-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../../sass/util/typography.scss */
body {
  font-size: 14px;
  font-family: "trons" , sans-serif;
  margin: 0;
  color: #2b345b;
}

/* line 17, ../../sass/util/typography.scss */
h1 {
  margin-top: 0;
  font-size: 35px;
  font-weight: 100;
  line-height: 44px;
  margin-bottom: 22px;
}

/* line 25, ../../sass/util/typography.scss */
h2 {
  font-weight: 100;
  font-size: 28px;
  margin-bottom: 22px;
  line-height: 44px;
}

/* line 31, ../../sass/util/typography.scss */
h3 {
  font-weight: 100;
  font-size: 21px;
  margin-bottom: 22px;
  line-height: 33px;
}

/* line 38, ../../sass/util/typography.scss */
p, li, blockquote, pre {
  font-family: "trons";
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

/* line 47, ../../sass/util/typography.scss */
p, label {
  margin-top: 0;
  margin-bottom: 22px;
  line-height: 22px;
}

/* line 53, ../../sass/util/typography.scss */
a {
  text-decoration: none;
  color: #eaebef;
}

/* line 60, ../../sass/util/typography.scss */
ol {
  padding-left: 1.5em;
  list-style-type: decimal;
}

/* Typography */
/* Color Scheme */
/* Responsive Breakpoints */
@font-face {
  font-family: 'tronicon';
  src: url("../fonts/tronicons.eot?17nqcd");
  src: url("../fonts/tronicons.eot?17nqcd#iefix") format("embedded-opentype"), url("../fonts/tronicons.ttf?17nqcd") format("truetype"), url("../fonts/tronicons.woff?17nqcd") format("woff"), url("../fonts/tronicons.svg?17nqcd#tronicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../../sass/util/tronicon.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tronicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 22px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../../sass/util/tronicon.scss */
.icon-tron-logo:before {
  content: "\e900";
  vertical-align: middle;
}

/* line 2, ../../sass/deck.scss */
.options {
  display: block;
  overflow: hidden;
  margin: auto;
  width: 95%;
  padding: 0% 2.5%;
  margin-bottom: 22px;
  line-height: 33px;
  vertical-align: middle;
  margin-bottom: 0;
}
/* line 7, ../../sass/deck.scss */
.options .btn-group {
  width: 22.91667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
}
/* line 9, ../../sass/deck.scss */
.options .btn-group .btn-p {
  background-color: #298f93;
  border-radius: 7px;
  -webkit-transition: background-color 0.1s;
  /* Safari */
  transition: background-color 0.1s;
  height: 33px;
  padding: 7px;
}
/* line 18, ../../sass/deck.scss */
.options .btn-group .btn-p:hover {
  background-color: #34b5bb;
}
/* line 21, ../../sass/deck.scss */
.options .btn-group .btn-p:active {
  background-color: #1e686b;
}
/* line 24, ../../sass/deck.scss */
.options .btn-group :first-child {
  border-radius: 14px 0 0 14px;
}
/* line 27, ../../sass/deck.scss */
.options .btn-group :last-child {
  border-radius: 0 14px 14px 0;
}
/* line 32, ../../sass/deck.scss */
.options .coord p {
  width: 6.25%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  padding-top: 7px;
}

/* line 39, ../../sass/deck.scss */
.deck {
  display: block;
  overflow: hidden;
  margin: auto;
  width: 95%;
  padding: 0% 2.5%;
  margin-bottom: 22px;
}
/* line 41, ../../sass/deck.scss */
.deck .jog,
.deck .steps {
  background-color: #f2f3f9;
  height: 100%;
}
/* line 47, ../../sass/deck.scss */
.deck .jog,
.deck .steps {
  color: #2b345b;
  width: 22.91667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  box-shadow: inset -1px 0 0 rgba(255, 255, 255, 0.5);
}
/* line 50, ../../sass/deck.scss */
.deck .jog h4,
.deck .steps h4 {
  margin: 14px;
}
/* line 55, ../../sass/deck.scss */
.deck .jog table,
.deck .steps table {
  width: 100%;
}
/* line 57, ../../sass/deck.scss */
.deck .jog table td,
.deck .steps table td {
  line-height: 38.5px;
}
/* line 59, ../../sass/deck.scss */
.deck .jog table td .spacer,
.deck .steps table td .spacer {
  width: 28px;
}
/* line 64, ../../sass/deck.scss */
.deck .jog .btn,
.deck .steps .btn {
  padding: 10.5px;
  border-radius: 7px;
}
/* line 68, ../../sass/deck.scss */
.deck .jog .pull-right,
.deck .steps .pull-right {
  transform: translateX(28px);
}
/* line 71, ../../sass/deck.scss */
.deck .jog .pull-left,
.deck .steps .pull-left {
  transform: translateX(-28px);
}
/* line 74, ../../sass/deck.scss */
.deck .jog .btn-z,
.deck .steps .btn-z {
  background-color: #298f93;
  border-radius: 7px;
  -webkit-transition: background-color 0.1s;
  /* Safari */
  transition: background-color 0.1s;
}
/* line 81, ../../sass/deck.scss */
.deck .jog .btn-z:hover,
.deck .steps .btn-z:hover {
  background-color: #34b5bb;
}
/* line 84, ../../sass/deck.scss */
.deck .jog p,
.deck .steps p {
  text-align: center;
  padding-top: 22px;
  font-size: 17.5px;
}
/* line 89, ../../sass/deck.scss */
.deck .jog hr,
.deck .steps hr {
  border-color: #8a96c8;
}
/* line 95, ../../sass/deck.scss */
.deck .jog .deckbtns,
.deck .steps .deckbtns {
  text-align: center;
}
/* line 97, ../../sass/deck.scss */
.deck .jog .deckbtns .btn,
.deck .steps .deckbtns .btn {
  line-height: 44px;
  padding: 14px 7px;
}
/* line 105, ../../sass/deck.scss */
.deck .jog .btn-group,
.deck .steps .btn-group {
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  margin: 11px 0;
}
/* line 110, ../../sass/deck.scss */
.deck .jog .btn-group .btn-inc,
.deck .steps .btn-group .btn-inc {
  line-height: 22px;
  border-radius: 0;
  padding: 7px;
  margin: -1px;
}
/* line 116, ../../sass/deck.scss */
.deck .jog .btn-group .btn-pipette,
.deck .steps .btn-group .btn-pipette {
  background-color: #298f93;
  border-radius: 7px;
  -webkit-transition: background-color 0.1s;
  /* Safari */
  transition: background-color 0.1s;
  height: 33px;
  padding: 7px;
}
/* line 124, ../../sass/deck.scss */
.deck .jog .btn-group .btn-pipette:hover,
.deck .steps .btn-group .btn-pipette:hover {
  background-color: #34b5bb;
}
/* line 127, ../../sass/deck.scss */
.deck .jog .btn-group .btn-pipette:active,
.deck .steps .btn-group .btn-pipette:active {
  background-color: #1e686b;
}
/* line 131, ../../sass/deck.scss */
.deck .jog .btn-group :first-child,
.deck .steps .btn-group :first-child {
  border-radius: 14px 0 0 14px;
}
/* line 134, ../../sass/deck.scss */
.deck .jog .btn-group :last-child,
.deck .steps .btn-group :last-child {
  border-radius: 0 14px 14px 0;
}
/* line 138, ../../sass/deck.scss */
.deck .jog .jog-pipette,
.deck .steps .jog-pipette {
  text-align: center;
}
/* line 140, ../../sass/deck.scss */
.deck .jog .jog-pipette .left-pipette,
.deck .jog .jog-pipette .right-pipette,
.deck .steps .jog-pipette .left-pipette,
.deck .steps .jog-pipette .right-pipette {
  width: 40%;
  display: inline-block;
  line-height: 44px;
}
/* line 146, ../../sass/deck.scss */
.deck .jog .jog-pipette h4,
.deck .steps .jog-pipette h4 {
  text-align: left;
}
/* line 154, ../../sass/deck.scss */
.deck .deckmap {
  width: 72.91667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  float: right;
  height: 100%;
}
/* line 158, ../../sass/deck.scss */
.deck .deckmap section {
  display: block;
  overflow: hidden;
  margin: auto;
  width: 95%;
  padding: 0% 2.5%;
  margin-bottom: 22px;
  /*********************
  CONTAINER TABLE
  ********************/
}
/* line 164, ../../sass/deck.scss */
.deck .deckmap section table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
/* line 168, ../../sass/deck.scss */
.deck .deckmap section table th {
  font-size: 14px;
  height: 44px;
}
/* line 173, ../../sass/deck.scss */
.deck .deckmap section table tr {
  border-bottom: 1px solid #990066;
  height: 44px;
}
/* line 177, ../../sass/deck.scss */
.deck .deckmap section table td {
  width: 10%;
}
/* line 180, ../../sass/deck.scss */
.deck .deckmap section table td:first-child {
  width: 20%;
  text-align: left;
  padding-left: 14px;
}
/* line 185, ../../sass/deck.scss */
.deck .deckmap section table tr:hover,
.deck .deckmap section table tr:active {
  background-color: #adb5d8;
}
/* line 193, ../../sass/deck.scss */
.deck .deckmap section .deckbtns {
  width: 31.25%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
}
/* line 195, ../../sass/deck.scss */
.deck .deckmap section .deckbtns .btn {
  line-height: 77px;
  padding: 28px 14px;
}
/* line 200, ../../sass/deck.scss */
.deck .deckmap section .commandForm {
  width: 64.58333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  height: 100vh;
  background-color: #cfd4e9;
}
/* line 204, ../../sass/deck.scss */
.deck .deckmap section .commandForm input,
.deck .deckmap section .commandForm textarea {
  width: 100%;
  display: block;
  border-radius: 14px;
  border: 1px solid #2b345b;
  padding: 14px;
}
/* line 212, ../../sass/deck.scss */
.deck .deckmap section .commandForm input {
  height: 33px;
}
/* line 215, ../../sass/deck.scss */
.deck .deckmap section .commandForm textarea {
  height: 88px;
}
/* line 218, ../../sass/deck.scss */
.deck .deckmap section .commandForm input[type=submit] {
  color: #FFF;
  text-decoration: none;
  border: none;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  background-color: #44528f;
  padding: 7px 14px;
  border-radius: 14px;
  -webkit-transition: background-color 1s;
  /* Safari */
  transition: background-color 1s;
}
/* line 231, ../../sass/deck.scss */
.deck .deckmap section .commandForm input[type=submit]:hover {
  background-color: #6877b7;
  text-decoration: none;
}
/* line 238, ../../sass/deck.scss */
.deck .deckmap ul.currentLabware {
  width: 31.25%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 243, ../../sass/deck.scss */
.deck .deckmap ul.currentLabware li {
  display: block;
  margin-bottom: -1px;
  background-color: white;
  border: 1px solid #2b345b;
  padding: 14px;
}
/* line 249, ../../sass/deck.scss */
.deck .deckmap ul.currentLabware li a {
  color: #2b345b;
}
/* line 253, ../../sass/deck.scss */
.deck .deckmap ul.currentLabware li:hover {
  background-color: #adb5d8;
}
/* line 256, ../../sass/deck.scss */
.deck .deckmap ul.currentLabware li.active {
  background-color: #7986c0;
}
/* line 258, ../../sass/deck.scss */
.deck .deckmap ul.currentLabware li.active a {
  color: white;
}
