/* Typography */
/* Color Scheme */
/* Responsive Breakpoints */
/* Typography */
/* Color Scheme */
/* Responsive Breakpoints */
@font-face {
  font-family: "trons";
  src: url("../fonts/Geogtq-Rg-webfont.woff2");
  font-weight: normal;
  font-style: normal;
}
/* line 10, ../../sass/util/typography.scss */
body {
  font-size: 14px;
  font-family: "trons" , sans-serif;
  margin: 0;
  color: #2b345b;
}

/* line 17, ../../sass/util/typography.scss */
h1 {
  margin-top: 0;
  font-size: 35px;
  font-weight: 100;
  line-height: 44px;
  margin-bottom: 22px;
}

/* line 25, ../../sass/util/typography.scss */
h2 {
  font-weight: 100;
  font-size: 28px;
  margin-bottom: 22px;
  line-height: 44px;
}

/* line 31, ../../sass/util/typography.scss */
h3 {
  font-weight: 100;
  font-size: 21px;
  margin-bottom: 22px;
  line-height: 33px;
}

/* line 38, ../../sass/util/typography.scss */
p, li, blockquote, pre {
  font-family: "trons";
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
}

/* line 47, ../../sass/util/typography.scss */
p, label {
  margin-top: 0;
  margin-bottom: 22px;
  line-height: 22px;
}

/* line 53, ../../sass/util/typography.scss */
a {
  text-decoration: none;
  color: #eaebef;
}

/* line 60, ../../sass/util/typography.scss */
ol {
  padding-left: 1.5em;
  list-style-type: decimal;
}

/* Typography */
/* Color Scheme */
/* Responsive Breakpoints */
@font-face {
  font-family: 'tronicon';
  src: url("../fonts/tronicons.eot?17nqcd");
  src: url("../fonts/tronicons.eot?17nqcd#iefix") format("embedded-opentype"), url("../fonts/tronicons.ttf?17nqcd") format("truetype"), url("../fonts/tronicons.woff?17nqcd") format("woff"), url("../fonts/tronicons.svg?17nqcd#tronicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../../sass/util/tronicon.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'tronicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 22px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 28, ../../sass/util/tronicon.scss */
.icon-tron-logo:before {
  content: "\e900";
  vertical-align: middle;
}

/* line 2, ../../sass/walkthrough.scss */
.deck {
  display: block;
  overflow: hidden;
  margin: auto;
  width: 95%;
  padding: 0% 2.5%;
  margin-bottom: 22px;
}
/* line 4, ../../sass/walkthrough.scss */
.deck .step-list {
  width: 14.58333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  background-color: #f2f3f9;
  height: 100%;
}
/* line 9, ../../sass/walkthrough.scss */
.deck .step-list ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
}
/* line 13, ../../sass/walkthrough.scss */
.deck .step-list ul li {
  display: block;
  margin-bottom: -1px;
  background-color: white;
  padding: 14px;
}
/* line 18, ../../sass/walkthrough.scss */
.deck .step-list ul li a {
  color: #2b345b;
}
/* line 22, ../../sass/walkthrough.scss */
.deck .step-list ul li:hover {
  background-color: #adb5d8;
}
/* line 25, ../../sass/walkthrough.scss */
.deck .step-list ul li.active {
  background-color: #7986c0;
}
/* line 27, ../../sass/walkthrough.scss */
.deck .step-list ul li.active a {
  color: white;
}

/* line 36, ../../sass/walkthrough.scss */
.coord p {
  width: 6.25%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  padding-top: 7px;
}

/* line 42, ../../sass/walkthrough.scss */
#wizard {
  width: 81.25%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  min-height: 80vh;
  position: relative;
 /*********************
STEP RENDERING
 ********************/
  /*********************
  PREV NEXT BTNS
  ********************/
  /*********************
  SUBNAVIGATION
  ********************/
  /*********************
  JOG CONTROLS
  ********************/
}
/* line 46, ../../sass/walkthrough.scss */
#wizard a {
  color: #990066;
}
/* line 52, ../../sass/walkthrough.scss */
#wizard .steps .step {
  display: none;
}
/* line 55, ../../sass/walkthrough.scss */
#wizard .steps .step.active-step {
  display: block;
}
/* line 58, ../../sass/walkthrough.scss */
#wizard .step {
  overflow: visible;
  text-align: center;
}
/* line 61, ../../sass/walkthrough.scss */
#wizard .step p {
  text-align: left;
}
/* line 65, ../../sass/walkthrough.scss */
#wizard .task {
  width: 64.58333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
}
/* line 68, ../../sass/walkthrough.scss */
#wizard .info {
  width: 31.25%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  text-align: left;
}
/* line 75, ../../sass/walkthrough.scss */
#wizard .prev,
#wizard .next {
  position: absolute;
  top: 45%;
}
/* line 80, ../../sass/walkthrough.scss */
#wizard .prev {
  left: 0;
}
/* line 83, ../../sass/walkthrough.scss */
#wizard .next {
  right: 0;
}
/* line 89, ../../sass/walkthrough.scss */
#wizard .subnav {
  width: 64.58333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  list-style: none;
  position: absolute;
  bottom: 0;
  text-align: center;
}
/* line 95, ../../sass/walkthrough.scss */
#wizard .subnav li {
  position: relative;
  display: inline-block;
  width: 31.25%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  color: white;
  line-height: 22px;
}
/* line 101, ../../sass/walkthrough.scss */
#wizard .subnav li a.btn {
  display: block;
  border-radius: 0;
  background-color: white;
  transition: background-color 1s;
  width: 100%;
}
/* line 113, ../../sass/walkthrough.scss */
#wizard .jog {
  width: 47.91667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
}
/* line 115, ../../sass/walkthrough.scss */
#wizard .jog table {
  width: 100%;
  display: block;
}
/* line 118, ../../sass/walkthrough.scss */
#wizard .jog table td {
  line-height: 38.5px;
}
/* line 120, ../../sass/walkthrough.scss */
#wizard .jog table td .spacer {
  width: 28px;
}
/* line 125, ../../sass/walkthrough.scss */
#wizard .jog a {
  color: white;
}
/* line 128, ../../sass/walkthrough.scss */
#wizard .jog .btn {
  padding: 10.5px;
  border-radius: 7px;
}
/* line 132, ../../sass/walkthrough.scss */
#wizard .jog .pull-right {
  transform: translateX(28px);
}
/* line 135, ../../sass/walkthrough.scss */
#wizard .jog .pull-left {
  transform: translateX(-28px);
}
/* line 138, ../../sass/walkthrough.scss */
#wizard .jog .btn-z {
  background-color: #298f93;
  border-radius: 7px;
  -webkit-transition: background-color 0.1s;
  /* Safari */
  transition: background-color 0.1s;
}
/* line 145, ../../sass/walkthrough.scss */
#wizard .jog .btn-z:hover {
  background-color: #34b5bb;
}
/* line 148, ../../sass/walkthrough.scss */
#wizard .jog p {
  text-align: center;
  padding-top: 22px;
  font-size: 17.5px;
}
/* line 153, ../../sass/walkthrough.scss */
#wizard .jog hr {
  border-color: #8a96c8;
}
/* line 156, ../../sass/walkthrough.scss */
#wizard .jog .btn-group {
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  margin: 11px 0;
}
/* line 161, ../../sass/walkthrough.scss */
#wizard .jog .btn-group .btn-inc {
  line-height: 22px;
  border-radius: 0;
  padding: 7px;
  margin: -1px;
}
/* line 170, ../../sass/walkthrough.scss */
#wizard .jog .btn-group .btn-pipette {
  background-color: #298f93;
  border-radius: 7px;
  -webkit-transition: background-color 0.1s;
  /* Safari */
  transition: background-color 0.1s;
  height: 33px;
  padding: 7px;
}
/* line 178, ../../sass/walkthrough.scss */
#wizard .jog .btn-group .btn-pipette:hover {
  background-color: #34b5bb;
}
/* line 181, ../../sass/walkthrough.scss */
#wizard .jog .btn-group .btn-pipette:active {
  background-color: #1e686b;
}
/* line 185, ../../sass/walkthrough.scss */
#wizard .jog .btn-group :first-child {
  border-radius: 14px 0 0 14px;
}
/* line 188, ../../sass/walkthrough.scss */
#wizard .jog .btn-group :last-child {
  border-radius: 0 14px 14px 0;
}
/* line 192, ../../sass/walkthrough.scss */
#wizard .jog .jog-pipette {
  text-align: center;
}
/* line 194, ../../sass/walkthrough.scss */
#wizard .jog .jog-pipette .left-pipette,
#wizard .jog .jog-pipette .right-pipette {
  width: 40%;
  display: inline-block;
  line-height: 44px;
}
/* line 200, ../../sass/walkthrough.scss */
#wizard .jog .jog-pipette h4 {
  text-align: left;
}
/* line 205, ../../sass/walkthrough.scss */
#wizard .jog-info {
  width: 47.91667%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
}

/* line 210, ../../sass/walkthrough.scss */
input#uploadFile {
  border: none;
  text-align: center;
  width: 100%;
}

/* line 216, ../../sass/walkthrough.scss */
.active {
  display: block;
  margin: 0 auto;
  width: auto;
}

/* line 222, ../../sass/walkthrough.scss */
.not-active {
  display: none;
}

/* line 226, ../../sass/walkthrough.scss */
#loadFile {
  color: white;
}

/* line 230, ../../sass/walkthrough.scss */
table {
  width: 100%;
  padding: none;
  border: none;
}
/* line 234, ../../sass/walkthrough.scss */
table tr:nth-child(even) {
  background: #f2f3f9;
}
/* line 236, ../../sass/walkthrough.scss */
table tr:nth-child(even) .saved {
  background: #cfd4e9;
  font-style: italic;
  font-style: bold;
}
/* line 242, ../../sass/walkthrough.scss */
table tr {
  height: 33px;
  line-height: 33px;
}
/* line 246, ../../sass/walkthrough.scss */
table td {
  width: 14.58333%;
  float: left;
  padding-left: 1.04167%;
  padding-right: 1.04167%;
  display: block;
  text-align: center;
}
/* line 250, ../../sass/walkthrough.scss */
table .delete {
  text-align: right;
}

/* line 255, ../../sass/walkthrough.scss */
.saved {
  background: #cfd4e9 !important;
  font-style: italic;
  font-style: bold;
}

/* line 261, ../../sass/walkthrough.scss */
.continue {
  width: auto;
  float: right;
  margin-top: 22px;
}
