<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome/font-awesome.css') }}"> {% block styles %} {% endblock %}
    <script src="{{ url_for('static', filename='js/autobahn.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/communication.js') }}"></script>
    <script src="{{ url_for('static', filename='js/socketHandler.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ui.js') }}"></script>
</head>

<body>
    <header>
        <div class="wrapper">
            <section class="file">
                <i class="icon-tron-logo fa-lg" style="margin-right:24px;"></i>
                <a href="#" class="btn"><i class="fa fa-upload" ></i><span style="vertical-align:middle;"> Load</span></a>
                <a href="#" class="btn"><i class="fa fa-play-circle" ></i><span style="vertical-align:middle;"> Run</span></a>
                <a href="#" class="btn"><i class="fa fa-save" ></i><span style="vertical-align:middle;"> Save</span></a>
                <a href="#" class="btn"><i class="fa fa-download" ></i><span style="vertical-align:middle;"> Save</span></a>
            </section>
            <section class="status">
                <p>Robot is Moving...</p>
            </section>
        </div>
    </header>
    <header class="submenu">
        <div class="wrapper">
            <section class="home">
                <p>Home:
                    <a href="#" onclick="sendMessage('com.opentrons.driver',{type:'command', data:{name:'smoothie',message:{home:''}}});" class="btn">ALL</a>
                    <a href="#" onclick="sendMessage('com.opentrons.driver',{type:'command', data:{name:'smoothie',message:{home:{X:''}}}});" class="btn">X</a>
                    <a href="#" onclick="sendMessage('com.opentrons.driver',{type:'command', data:{name:'smoothie',message:{home:{Y:''}}}});" class="btn">Y</a>
                    <a href="#" onclick="sendMessage('com.opentrons.driver',{type:'command', data:{name:'smoothie',message:{home:{Z:''}}}});" class="btn">Z</a>
                    <a href="#" onclick="sendMessage('com.opentrons.driver',{type:'command', data:{name:'smoothie',message:{home:{A:''}}}});" class="btn">A</a>
                    <a href="#" onclick="sendMessage('com.opentrons.driver',{type:'command', data:{name:'smoothie',message:{home:{B:''}}}});" class="btn">B</a>
                </p>
            </section>
            <section class="tabs">
                <a href="#" class="btn-tab">Deck</a>
                <a href="#" class="btn-tab">Pipette</a>
                <a href="#" class="btn-tab">Labware</a>
                <a href="#" class="btn-tab">Config</a>
            </section>
        </div>
    </header>
 
    {% block body %}{% endblock %}

</body>

</html>
