{% extends "/layout.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/walkthrough.css') }}"> {% endblock %} {% block body %}
<div class="deck">
    <aside class="step-list">
        <ul id="step-group">
            <li class="one">Step 1- Calibrate p200 tiprack</li>
            <li class="two">Echo steps from Michelle</li>
            <li class="three">Echo steps from Michelle</li>
        </ul>
    </aside>
    <div id="wizard">


    </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
    var template = document.getElementById("testTemp").innerHTML;
    // Handlebars compiles the template into a callable function
    var renderer = Handlebars.compile(template);

    // call the compiled function with the template data
    var result = renderer({
        "task": "calibrate",
        "description": "Some sample directions maybe?",
        "container": "p200ul tiprack";
    });
    document.getElementById("wizard").innerHTML = result;
});
</script>
<%= raw %>
    <script type="text/x-handlebars-template" id="testTemp">
        <div class="itemTemplateWrapper">
            <p>Task:{{tast}}}</p>
            <p>Description:{{description}}</p>
            <p>Labware Container:{{container}}</p>
        </div>
    </script>
<%= endraw %>

{% endblock %} {% block scripts %} {% endblock %}
