{% extends "/layout.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/deck.css') }}"> {% endblock %} {% block body %}
<div class="deck">
    <aside class="jog">
        <h4>Jog X,Y,Z</h4>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td></td>
                <td><a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:10});"><i class="fa fa-arrow-up fa-lg"></i></a></td>
                <td></td>
                <td class="spacer"></td>
                <td><a href="#" class="btn btn-z"><i class="fa fa-arrow-up fa-lg"></i></a></td>
            </tr>
            <tr>
                <td class="pull-right"> <a href="#" class="btn "><i class="fa fa-arrow-left fa-lg"></i></a></td>
                <td>&nbsp;</td>
                <td class="pull-left"><a href="#" class="btn "><i class="fa fa-arrow-right fa-lg"></i></a></td>
                <td class="spacer"></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="#" class="btn"><i class="fa fa-arrow-down fa-lg"></i></a></td>
                <td>&nbsp;</td>
                <td class="spacer"></td>
                <td><a href="#" class="btn btn-z"><i class="fa fa-arrow-down fa-lg"></i></a></td>
            </tr>
        </table>
        <p>X:0 Y:0 Z:0</p>
        <h4>Select Increment [mm]</h4>
        <div class="btn-group">
            <a href="#" class="btn btn-inc">100</a>
            <a href="#" class="btn btn-inc">50</a>
            <a href="#" class="btn btn-inc">10</a>
            <a href="#" class="btn btn-inc">1.0</a>
            <a href="#" class="btn btn-inc">0.5</a>
            <a href="#" class="btn btn-inc">0.1</a>
        </div>
        <div class="btn-group">
            <a href="#" class="btn btn-inc">Slot Width</a>
            <a href="#" class="btn btn-inc">Slot Height</a>
        </div>
        <hr/>
        <div class="btn-group">
            <a href="#" class="btn-pipette">p200 Single Left</a>
            <a href="#" class="btn-pipette">p200 Multi Center</a>
        </div>
        <div class="jog-pipette">
            <div class="left-pipette">
                <a href="#" class="btn btn-z"><i class="fa fa-arrow-up fa-lg"></i></a>
                <br>
                <a href="#" class="btn btn-z"><i class="fa fa-arrow-down fa-lg"></i></a>
                <p>L:0</p>
            </div>
            <div class="right-pipette">
                <a href="#" class="btn btn-z"><i class="fa fa-arrow-up fa-lg"></i></a>
                <br>
                <a href="#" class="btn btn-z"><i class="fa fa-arrow-down fa-lg"></i></a>
                <p>C:0</p>
            </div>
            <h4>Select Increment [mm]</h4>
            <div class="btn-group">
                <a href="#" class="btn btn-inc">2.0 mm</a>
                <a href="#" class="btn btn-inc">0.5 mm</a>
                <a href="#" class="btn btn-inc">0.1 mm</a>
            </div>
        </div>
    </aside>
    <section class="deckmap">
        <section>
            <div class="deckbtns">
                <h4>Quick Nav</h4>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:10,Y:100});">A3</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:90,Y:100});">B3</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:170,Y:100});">C3</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:250,Y:100});">D3</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:330,Y:100});">E3</a>
                <br>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:10,Y:220});">A2</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:90,Y:220});">B2</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:170,Y:220});">C2</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:250,Y:220});">D2</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:330,Y:220});">E2</a>
                <br>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:10,Y:340});">A1</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:90,Y:340});">B1</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:170,Y:340});">C1</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:250,Y:340});">D1</a>
                <a href="#" class="btn" onclick="sendMessage('com.opentrons.driver',driver_id,'command','smoothie','move_to',{X:330,Y:340});">E1</a>
            </div>
            <div class="commandForm">
                <h4>Custom Command</h4>
                <form id="customMsg">
                    <label for="topic">Topic (destination-route):</label>
                    <input type="text" name="topic" id="topic" />
                    <br>
                    <label for="type">Type:</label>
                    <input type="text" name="type" id="type" />
                    <br>
                    <label for="name">Name (device/hardware?):</label>
                    <input type="text" name="name" id="name" />
                    <br>
                    <label for="message">Message: "move_to" in {"move_to":{"X":20}} ----- KEYS IN ""</label>
                    <input type="text" name="message" id="message">
                    </input>
                    <br>
                    <label for="param">Param: {"X":20} in {"move_to":{"X":20}} ----- KEYS IN ""</label>
                    <input type="text" name="param" id="param">
                    </input>
                    <br>
                    <a href="#" onclick="logMe();" class="btn">Send Message</a>
                    <!--CUSTOM MESSAGE TESTING SCRIPT  -->
                    <script type="text/javascript">
                    function logMe() {
                        var topic = document.getElementById('topic').value;
                        var type = document.getElementById('type').value;
                        var name = document.getElementById('name').value;
                        var message = document.getElementById('message').value;
                        var param = document.getElementById('param').value;

                        if (param.indexOf("{") >= 0) {
                            //alert('make it JSON');
                            param = JSON.parse(param)
                            console.log(param);
                        }

                        sendMessage('com.opentrons.' + topic, '', type, name, message, param);
                        console.log('com.opentrons.' + topic, '', type, name, message, param);

                    };
                    </script>
                </form>
                <!-- 
            topic -  (driver or labware or bootloaded (destination))
            type - string (command or meta | others for labware)
            name - string
            message
                *name+message = data!              
                
                {
                    type:'command', 
                    data:{
                        name: "smoothie",
                        message: "something object int or string"
                        }                            
                    }
                } 

                if 'smoothie' in data 
                if data.smoothie console.log(data.smoothie)
             -->
            </div>
        </section>
    </section>
    <section class="jog">
        <h3>Load JSON</h3>
        <input type="file" name="file" id="files" class="inputfile" />
        <button class="btn" id="loadFile">Load</button>
        <div id="byte_content"></div>
    </section>
    <section class="deckmap">
        <table>
            <thead>
                <tr>
                    <th colspan="1">Labware</th>
                    <th colspan="3">Left
                        <br>X:0.0 Y:0.0 Z:0.0</th>
                    <th colspan="3">Center
                        <br>X:0.0 Y:0.0 Z:0.0</th>
                    <th colspan="1">Clear Btns</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>p200</td>
                    <td><a class="btn">Save</a></td>
                    <td><a class="btn">Move To</a></td>
                    <td><a class="btn">Pick Up Tip</a></td>
                    <td><a class="btn">Save</a></td>
                    <td><a class="btn">Move To</a></td>
                    <td><a class="btn">Pick Up Tip</a></td>
                    <td><a class="btn">Clear</a></td>
                </tr>
                <tr>
                    <td>trough</td>
                    <td><a class="btn">Save</a></td>
                    <td><a class="btn">Move To</a></td>
                    <td><a class="btn">Pick Up Tip</a></td>
                    <td><a class="btn">Save</a></td>
                    <td><a class="btn">Move To</a></td>
                    <td><a class="btn">Pick Up Tip</a></td>
                    <td><a class="btn">Clear</a></td>
                </tr>
                <tr>
                    <td>trash</td>
                    <td><a class="btn">Save</a></td>
                    <td><a class="btn">Move To</a></td>
                    <td><a class="btn">Pick Up Tip</a></td>
                    <td><a class="btn">Save</a></td>
                    <td><a class="btn">Move To</a></td>
                    <td><a class="btn">Pick Up Tip</a></td>
                    <td><a class="btn">Clear</a></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="jog">
    </section>
    <section class="deckmap">
        <ul class="currentLabware">
            <li class="active"><a>p200 tiprack</a></li>
            <li><a>trash</a></li>
        </ul>
    </section>
</div>

{% endblock %} {% block scripts %}
<script>
document.getElementById('loadFile').addEventListener('click', function(evt) {
    readBlob();
}, false);
</script>
{% endblock %}
