{% extends "/layout.html" %} {% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/walkthrough.css') }}"> {% endblock %} 
{% block body %}


<div class="deck">
    
    <aside class="step-list">
        <ul id="step-group">
            <li class="one">Step 1- Calibrate p200 tiprack</li>
            <li class="two">Echo steps from Michelle</li>
            <li class="three">Echo steps from Michelle</li>
        </ul>
    </aside>

	<div id="wizard">
		not set
	</div>
</div>

<style>



</style>

<script type="text/logical" name="calibrate-task">
{% raw %}
<div class="wrapper">
<div class="steps">
	<h1>Calibration Wizard; Current Step is {{= currentStep }}</h1>

	<div class="step step-one" data-prev="welcome" data-next="two">
		<h2>Step One</h2>
		<p>{{= foo}}</p>
		<p>{{= bar}}</p>

	</div>

	<div class="step step-two" data-prev="one" data-next="three">
		<h2>Step Two</h2>
		<p>{{= foo}}</p>
		<p>{{= bar}}</p>

	</div>

	<div class="step step-three" data-prev="two">
		<h2>Step Three</h2>
		<p>{{= foo}}</p>
		<p>{{= bar}}</p>

	</div>

</div>
</div>
{% endraw %}
</script>


<script>

function Wizard(taskType, data) {
	// Task type must have template called '<type>-task' as a
	// script with type="logical/template".
	var wizard = logical.(taskType+'-task', data);
	this.view = wizard.attach('#wizard');
	this.view.set(data);
}

Wizard.prototype = {

	// Step must match 'step-<step>' class on step div. 
	step: function(step) {
		this.currentStep = step;
		document.getElementById('wizard').getElementsByClassName('steps')[0].className = 'steps step-'+step;
	},

	// Set the step data.
	data: function(data) {
		this.view.set(data);
	}

};

wizardPane = new Wizard('calibrate', {'currentStep': 'welcome', 'foo': 'foo', 'bar': 'bar'});
wizardPane.step(wizardPane.currentStep);

var stepGroup = document.getElementById('step-group');
var arrSteps = stepGroup.getElementsByTagName("LI");
console.log(arrSteps);

stepGroup.addEventListener('click', function(event){
	var selectedStep = event.target;
	//just in case we have any other tags besides our list items, ignore them
	if (selectedStep.tagName !== 'LI') return;
	//show step screen based on class
	var step = selectedStep.className;
	wizardPane.step(step);
 wizardPane.data({'currentStep': step, 'foo': 'foo2', 'bar': 'bar2'});

});

</script>
{% endblock %} 



{% block scripts %} {% endblock %}